/*--------------------------------------------------------------
CSS Grid layout for modern browsers:
--------------------------------------------------------------*/
@supports (grid-area: auto) {
  
    .profile-layout{
      display: grid;
      height: 100vh;
      min-height: 100vh;
      grid-template-columns: 10rem auto;
      grid-auto-columns: repeat(auto-fit, minmax(10px, auto));
      grid-template-rows: 3.4rem auto 6rem;
      grid-template-areas: 
        "header     header"
        "sidebar-1  content"
        "footer     footer"
    }
    
    .l-sidebar {
      grid-area: sidebar-1;
      width:100%;
    }
  
    .container {
      grid-area: content;
      width:100%;
      margin:0px;
    }
  
    .header {
      grid-area: header;
      width:100%;
    }
  
    .footer {
      grid-area: footer;
      width:100%;
    }
  
    @media (max-width: 700px) {
      .profile-layout{
        grid-template-areas:
          "header     header"
          "content    content"
          "footer     footer"
      }
  
      .profile-layout .l-sidebar { display:none; }
    }
  
  }