@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.section-container {
    /* display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-wrap: wrap;
    padding-right: 1rem; */
    display: grid;
    grid-template-columns: 1fr;
    justify-content: end;
    padding-right: 1rem;
}

.section-container h1{
    font-family: 'Josefin Sans', sans-serif;
    margin-bottom:0px;
    justify-self: end;
}

.section-container h3{
    font-family: 'Ubuntu', sans-serif;
    font-size:20px;
    margin-top:0px;
    color: var(--black);
    justify-self: end;
}
