.card-content-wrapper {
    min-height: 8rem;
    max-height: 8rem;
    overflow-y : auto;
}

.card-image-wrapper {
    overflow: hidden;
    height: 12rem;
    min-height: 12rem;
    max-height: 12rem;
}

/*
 *  STYLE 4
 */

 #style-4::-webkit-scrollbar-track
 {
     -webkit-box-shadow: inset 0 0 6px #F5F5F5;
     background-color: #F5F5F5;
 }
 
 #style-4::-webkit-scrollbar
 {
     width: 10px;
     background-color: #F5F5F5;
 }
 
 #style-4::-webkit-scrollbar-thumb
 {
     background-color: #F5F5F5;
     border: 2px solid #F5F5F5;
 }